<div class="full-screen d-flex justify-content-center">
  <div class="full-screen-content">
    <div style="width: 70%;">
      <table class="table table-striped" style="width: 100%; font-size: 1.2rem;">
        <thead>
          <tr>
            <th scope="col" style="background-color: #F5F5F5;">ลำดับ</th>
            <th scope="col" style="background-color: #F5F5F5;">เอกสารดาวน์โหลดขั้นตอนและใบสั่งจองอาวุธปืนสวัสดิการ</th>
            <th scope="col" style="background-color: #F5F5F5; width: 100px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: #FFFFFF; font-weight: bold;">1</td>
            <td style="color: #e9e7e7;font-weight: bold;">ใบสั่งจองอาวุธปืน กรมการปกครอง</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/Request-to-join.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">2</td>
            <td style="color: #e9e7e7;font-weight: bold;">คุณสมบัติผู้ขออนุญาตให้มีและใช้อาวุธปืน</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/Request-to-join.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">3</td>
            <td style="color: #e9e7e7;font-weight: bold;">เอกสารประกอบคำขออนุญาตซื้ออาวุธปืนและเครื่องกระสุนปืน</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/Request-to-join.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">4</td>
            <td style="color: #e9e7e7;font-weight: bold;">เอกสารประกอบคำขออนุญาตโอนอาวุธปืน (ซื้อต่อจากบุคคลอื่น)</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/Request-to-join.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">5</td>
            <td style="color: #e9e7e7;font-weight: bold;">เอกสารประกอบคำขอแจ้งการย้ายอาวุธปืน</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/Request-to-join.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">6</td>
            <td style="color: #e9e7e7;font-weight: bold;">เอกสารประกอบคำขอส่งต่อ</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/Request-to-join.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>

        </tbody>
        <thead>
          <tr>
            <th scope="col" style="background-color: #ddd209;">ลำดับ</th>
            <th scope="col" style="background-color: #ddd209;">แบบฟอร์มต่างๆ งานอาวุธปืน</th>
            <th scope="col" style="background-color: #ddd209; width: 100px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: #FFFFFF; font-weight: bold;">1</td>
            <td style="color: #e9e7e7;font-weight: bold;">แบบ ป.1 (แบบคำขออนุญาตทั่วไป)</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/1_2_01_formgun.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">2</td>
            <td style="color: #e9e7e7;font-weight: bold;">แบบ ป.1 (ขอซื้อ)</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/1_2_p1_0buy.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">3</td>
            <td style="color: #e9e7e7;font-weight: bold;">แบบ ป.1 (ขอสลักหลังตัดโอนใบอนุญาต แบบ ป.3 ตอนที่ 3
              (อาวุธปืนสวัสดิการ))</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/1_2_9_p1recp3.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">4</td>
            <td style="color: #e9e7e7;font-weight: bold;">แบบ ป.1 (ขอแก้ไขรายการในใบอนุญาต (แบบ ป.4))</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/1_2_5_p1editp4.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">5</td>
            <td style="color: #e9e7e7;font-weight: bold;">ขอใบคู่มือประจำปืน</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/1_2_13_p1user.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
          <tr>
            <td style="color: #e9e7e7;font-weight: bold;">6</td>
            <td style="color: #e9e7e7;font-weight: bold;">หนังสือมอบอำนาจ</td>
            <td style="text-align: right;">
              <a href="https://gundistat.com/images/downloads/1_2_16rec.pdf" target="_blank"
                class="btn btn-primary btn-sm">
                ดาวน์โหลด
              </a>
            </td>
          </tr>
        </tbody>
      </table>