
.full-screen {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpapers.com/images/hd/para-commandos-with-m16-celeinai0nz09klc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .full-screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* ทำให้พื้นหลังมืดลง */
    z-index: 1;
  }
  
  .full-screen-content {
    position: relative;
    z-index: 2; /* ทำให้เนื้อหาที่อยู่ด้านหน้าของพื้นหลังมืด */
  }
