.full-screen {
    height: auto;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpapers.com/images/hd/para-commandos-with-m16-celeinai0nz09klc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-group {
    margin-bottom: 1.5rem;
}

.alert {
    margin-top: 1rem;
}

.btn-close {
    margin-left: auto;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-select {
    width: 100%;
}

.form-control {
    width: 100%;
}

