.full-screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://wallpapers.com/images/hd/para-commandos-with-m16-celeinai0nz09klc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-img {
  width: 100px;
  height: auto;
}


/* เพิ่ม CSS เพื่อปรับแต่งรายการสั่งซื้อให้สวยงาม */
table {
width: 100%;
border-collapse: collapse;
}

th, td {
padding: 10px;
text-align: center;
border: 1px solid #ddd;
}

th {
background-color: #f2f2f2;
color: #333;
}

td img {
max-width: 50px;
max-height: 50px;
border-radius: 50%;
}

.badge {
padding: 5px 10px;
border-radius: 3px;
font-size: 12px;
}

.bg-gradient-success {
background-color: #28a745;
color: #fff;
}

.bg-gradient-danger {
background-color: #dc3545;
color: #fff;
}

.w-fit {
width: fit-content;
}

/* .border-b {
border-bottom: 1px solid #e5e7eb;
} */

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.bg-gray-dark {
  background-color: #1a1a1a;
}
/* ตั้งค่าพื้นหลังสีเทาให้กับ tbody */
table tbody {
  background-color: #9394966f; /* สีเทาอ่อน */
}

/* ตั้งค่าพื้นหลังสีเทาให้กับแต่ละแถวใน tbody */
table tbody tr {
  background-color: #3f414071; /* สีเทาอ่อนกว่าพื้นหลังของ tbody */
}

/* เพิ่มการปรับแต่งให้กับแถวที่เป็นปัจจุบันหรือที่ถูกเลือก */
table tbody tr:hover {
  background-color: #222223; /* สีเทาที่เข้มขึ้นเมื่อวางเมาส์ */
}