<div class="order-list-container">
  <div *ngFor="let order of orderList" class="order-card">
    <div
      class="bg-gradient-orange shadow-dark border-radius-lg pt-2 pb-2 d-flex justify-content-between align-items-center">
      <h4 class="text-white text-capitalize ps-3">คำสั่งซื้อ</h4>
      <div>
        <button class="btn custom-gray-btn me-3" (click)="openModal(order)">ดูรายละเอียด</button>
        <button class="btn btn-danger me-3">ลบ</button>
      </div>
    </div>

    <div class="product-container mt-3">
      <div *ngFor="let product of order.productList; let i = index" class="product-card">
        <img *ngIf="product.imgList.length > 0" [src]="product.imgList[0]" class="product-img" alt="Product Image">
        <div class="product-details">
          <h6>{{ product.productName }}</h6>
          <p>{{ product.productDesc }}</p>
          <p class="price">ราคา: {{ product.price | currency : '฿ ' }}</p>
          <p class="quantity">จำนวน: {{ getQuantity(order, product.productId) }} ชิ้น</p>
          <p class="total-price">ราคารวม: {{ product.price * getQuantity(order, product.productId) | currency : '฿ ' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap Modal -->

<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">รายละเอียดที่อยู่เบอร์โทร</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <form [formGroup]="updateOrder" (submit)="onSubmit()">
            <div class="form-group row">
              <label for="userName" class="text-center">ชื่อ-นามสกุล</label>
              <div class="col-12">
                <p class="form-control-plaintext text-center border rounded p-2 bg-info text-white">{{
                  userData?.fristName }} {{ userData?.lastName }}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="text-center">เบอร์ติดต่อ</label>
              <div class="col-12">
                <p class="form-control-plaintext text-center border rounded p-2 bg-info text-white">{{ userData?.phone
                  }}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="paymentStatus" class="text-center">สถานะการชำระเงิน</label>
              <div class="col-12">
                <p class="form-control-plaintext text-center border rounded p-2 bg-info text-white">
                  <span *ngIf="selectedOrder?.status == '1'" class="badge bg-success">ชำระเงินแล้ว</span>
                  <span *ngIf="selectedOrder?.status != '1'" class="badge bg-danger">ยังไม่ชำระเงิน</span>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label for="orderDate" class="text-center">วันที่สั่งสินค้า</label>
              <div class="col-12">
                <p class="form-control-plaintext text-center border rounded p-2 bg-info text-white">{{
                  selectedOrder?.createDate | date: 'medium' }}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="address" class="text-center">ที่อยู่</label>
              <div class="col-12">
                <input formControlName="address"
                  class="form-control-plaintext text-center border rounded p-2 bg-infoo text-white">
              </div>
            </div>
            <div class="form-group row">
              <label for="province" class="text-center">จังหวัด</label>
              <div class="col-12">
                <input formControlName="province"
                  class="form-control-plaintext text-center border rounded p-2 bg-infoo text-white">
              </div>
            </div>
            <div class="form-group row">
              <label for="zipcode" class="text-center">รหัสไปรษณีย์</label>
              <div class="col-12">
                <input formControlName="zipcode"
                  class="form-control-plaintext text-center border rounded p-2 bg-infoo text-white">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12 text-center mt-3">
                <button name="submit" class="btn btn-primary">Update My Address</button>
              </div>
            </div>

          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>