.full-screen {
  height:200vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://wallpapers.com/images/hd/para-commandos-with-m16-celeinai0nz09klc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  .btn {
    position: relative;
    margin-right: 10px;
    /* Add some margin to the right of each button */
  }
  .btn {
    position: relative;
    margin-right: 10px;
    /* Add some margin to the right of each button */
  }

  .input-group-prepend {
    width: 50px;
    /* ปรับความกว้างของส่วนก่อน input */
  }

  .form-control {
    width: calc(100% - 50px);
    /* ลบความกว้างของส่วนก่อน input จากความกว้างทั้งหมด */
  }

  .container {
    margin: 2px auto; /* ระยะห่างจากขอบด้านบนและขอบซ้ายขวา */
    padding: 20px; /* ระยะห่างภายใน */
    max-width: 1200px; /* กำหนดความกว้างสูงสุด */
 
}



